{% extends 'base.html.twig' %}
{% block title %}SymphArt Articles{% endblock %}
{% block body %}
<h1>{{article.title}}</h1>
<P>{{article.body}}</p>
<hr>          
<a href="/index.html.twig">Go back</a>
{% endblock %}

